/** Used in SystemInfoAvatarFrame class */

QListView {
  font-size: 12pt;
  color: #ffffff;
  border: none;
  margin: 0px;
  padding: 0px;
  background: transparent;
}

QListView::item {
  background: transparent;
  height: 80px;
  width: 80px;
  padding: 0px;
  margin: 0px;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

QListView::item:hover {
  background: rgba(255, 255, 255, 0.16);
  cursor: wait;
}

QListView::item:focus {
  background: rgba(255, 255, 255, 0.3);
}

QListView::item:selected {
  outline: none;
  border: none;
}