/** Used by CommentLabel class **/

QLabel {
  font-family: "SourceHanSansSC-Normal", Arial, SansSerif;
  /*max-width: 800px;*/
  width: 1200px;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
  background-color: red;
}
