/** Used in EditPartitionFrame class */

#edit_partition_frame {
  background: transparent;
}


#name_label, #usage_label, #fs_label, #mount_point_label, #format_label {
  color: #ffffff;
  font-size: 14px;
}

QProgressBar#usage_bar {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}

QProgressBar#usage_bar::chunk {
  background-color: #2ca7f8;
  border-radius: 3px;
}

#fs_label, #mount_point_label {
  text-align: right;
}

#format_check_box::indicator {
  width: 16px;
  height: 16px;
}

#format_check_box::indicator:unchecked {
  image: url(":/images/check-01.png");
}
#format_check_box::indicator:unchecked:hover {
  image: url(":/images/check-05.png");
}
#format_check_box::indicator:unchecked:pressed {
  image: url(":/images/check-03.png");
}
#format_check_box::indicator:checked {
  image: url(":/images/check-02.png");
}
#format_check_box::indicator:checked:hover {
  image: url(":/images/check-06.png");
}
#format_check_box::indicator:checked:pressed {
  image: url(":/images/check-04.png");
}