/** Used by NavButton class **/

QPushButton {
  text-align: center;
  min-width: 260px;
  color: white;
  font-size: 16pt;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgba(221, 221, 221, 0.3);
  padding: 5px;
}

QPushButton::hover {
  background-color: rgba(221, 221, 221, 0.5);
}

QPushButton::activate {
  background-color: rgba(221, 221, 221, 0.6);
}
