/** Used in SelectLanguageFrame class **/

QHeaderView,
QHeaderView::section,
QListCornerButton::section {
  background-color: transparent;
}

QListView {
  /*
  show-decoration-selected: 1;
  alternate-background-color: rgba(127, 127, 127, 30);
  selection-background-color: rgba(255, 255, 255, 1);
  */
  font-size: 12pt;
  color: #eaeaea;
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);

  /* make the selection span the entire width of the view */
  /*show-decoration-selected: 1;*/
}

/* does not work */
/*QListView::item:first {*/
  /*border-top-left-radius: 4px;*/
  /*border-top-right-rradius: 4px;*/
/*}*/

/*QListView::item:last {*/
  /*border-bottom-left-radius: 4px;*/
  /*border-bottom-right-radius: 4px;*/
/*}*/

QListView::item {
  background: transparent;
  height: 40px;
  padding: 0px 7px;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  /*selection-color: black;*/
  /*selection-background-color: transparent;*/
}

QListView::item:hover {
  background: rgba(255, 255, 255, 0.2);
}

QListView::item:focus {
  /*background: rgba(255, 255, 255, 0.3);*/
}

QListView::item:selected {
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  border: none;
  margin: 0px;
  padding: 0px 7px;
  /*border-image: url(":/images/list_view_selected.png");*/
}
