/** Used by LineEdit class **/

QLineEdit {
  border: 1px solid rgba(164, 164, 164, 153);
  border-radius: 3px;
  padding-left: 36px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  font-size: 12px;
  line-height: 1.25;
  color: #dadada;
}

QLineEdit:focus {
  border-color: rgba(123, 190, 251, 229);
}
