/** Used by ControlPanelFrame class **/

QFrame#control_panel_frame {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
}

QTabBar {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.75);
}

QTextEdit {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  selection-color: #4eff44;
  selection-background-color: black;
}

QPushButton#refresh_devices,
QPushButton#refresh_qr,
QPushButton#simulate_slide,
QPushButton#suicide_button {
  border: none;
  padding: 0px 4px;
  margin: 0px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 14px;
}