/** Used in EditPartitionFrame class */

#edit_partition_frame {
  background: transparent;
}

#name_label, #usage_label, #fs_label, #mount_point_label, #format_label {
  color: #ffffff;
  font-size: 14px;
}

#separator_label {
  background: rgba(255, 255, 255, 0.1);
}

#fs_label, #mount_point_label {
  text-align: right;
}

#format_check_box::indicator {
  width: 16px;
  height: 16px;
}

#format_check_box::indicator:unchecked {
  image: url(":/images/checkbox_unchecked.svg");
}
#format_check_box::indicator:unchecked:hover {
  image: url(":/images/checkbox_unchecked_hover.svg");
}
#format_check_box::indicator:unchecked:pressed {
  image: url(":/images/checkbox_unchecked_pressed.svg");
}
#format_check_box::indicator:checked {
  image: url(":/images/checkbox_checked.svg");
}
#format_check_box::indicator:checked:hover {
  image: url(":/images/checkbox_checked_hover.svg");
}
#format_check_box::indicator:checked:pressed {
  image: url(":/images/checkbox_checked_pressed.svg");
}
