/** Used in InstallFailedFrame class **/

QFrame#content_frame {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
}

#content_label {
  padding: 10px 14px;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 44px;
}

#control_button {
  border: none;
  outline: none;
  color: #eaeaea;
  margin: 0;
  padding: 0;
  /* NOTE(xushaohua): Do not optimize css properties */
  background-clip: border;
  background-origin: padding;
  background-repeat: no-repeat;
  background-position: center center;

  background-image: url(:/images/qr_normal.png);
}

#control_button:hover {
  background-image: url(:/images/qr_hover.png);
}

#control_button:pressed {
  background-image: url(:/images/qr_press.png);
}
