/** Used in NewPartitionFrame class */

#new_partition_frame {
  background: transparent;
}

#separator_label {
  background: rgba(255, 255, 255, 0.1);
}

#type_label, #alignment_label, #mount_point_label, #fs_label, #size_label {
  color: #ffffff;
  font-size: 14px;
  line-height: 1;
  text-align: right;
}