/** Used by PartitionFrame::main_frame **/

#left_frame_button, #mid_frame_button, #right_frame_button, #solo_frame_button {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background: transparent;
  outline: none;
  margin: 0px;
  padding: 10px;
}

#left_frame_button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

#mid_frame_button {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left-style: none;
  border-right-style: none;
}

#right_frame_button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left-style: none;
}

#solo_frame_button {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/*#simple_frame_button::active, #advanced_frame_button::active {*/
  /*background-color: rgba(255, 255, 255, 0.1);*/
/*}*/

#left_frame_button::checked {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-right-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

#mid_frame_button::checked {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-right-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-left-style: none;
}

#right_frame_button::checked {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-left-style: none;
}

#solo_frame_button::checked {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
}