/** Used in TableComboBox class **/

QComboBox {
  border: none;
  padding: 0 0 0 25px;
  margin: 0;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 14px;
}

QComboBox::drop-down {
  /** TODO(xushaohua): new icon arrow.png is 5x5 */
  width: 12px;
  background: transparent;
  right: 10px;
}

QComboBox::down-arrow {
  image: url(":/images/down_arrow.png");
}

QComboBox QAbstractItemView {
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 1);
  outline: none;
  padding: 0px;
  margin: 0px;
}

QComboBox QAbstractItemView::item {
  height: 36px;
  color: #ffffff;
  font-size: 10px;
  border: none;
}