.idea/
cmake-build-debug/
cmake-build-release/
debian/.debhelper/
debian/debhelper-build-stamp
debian/deepin-installer.debhelper.log
debian/deepin-installer.substvars
debian/deepin-installer/
debian/deepin-installer-oem.debhelper.log
debian/deepin-installer-oem.substvars
debian/deepin-installer-oem/
debian/deepin-installer-timezones.debhelper.log
debian/deepin-installer-timezones.substvars
debian/deepin-installer-timezones/
debian/files
debian/tmp/
i18n/*.qm
obj-*/

*.user
.vscode
build/
