[Unit]
Description=Launch installer in auto-install mode
ConditionKernelCommandLine=auto-deepin-installer
ConditionPathExists=!/etc/deepin-installer-first-boot
Conflicts=plymouth-quit.service getty@tty1.service

[Service]
ExecStart=/bin/sh /usr/bin/deepin-installer-auto-install
Restart=always

[Install]
WantedBy=deepin-installer.target
