[Unit]
Description=live installer
Wants=deepin-installer.target
After=deepin-installer.target
ConditionPathExists=/etc/deepin-installer-first-boot
Conflicts=plymouth-quit.service getty@tty1.service

[Service]
ExecStart=/usr/bin/xinit /usr/bin/deepin-installer-first-boot
Restart=always

[Install]
WantedBy=deepin-installer.target
