[Unit]
Description=Launch installer in normal mode
ConditionKernelCommandLine=!auto-deepin-installer
ConditionPathExists=!/etc/deepin-installer-first-boot
Conflicts=plymouth-quit.service getty@tty1.service

[Service]
ExecStart=/usr/bin/xinit /usr/bin/deepin-installer
Restart=always

[Install]
WantedBy=deepin-installer.target
