Source: deepin-installer-reborn
Section: utils
Priority: extra
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>=9),
    cmake,
    g++,
    qt5-qmake,
    qt5-default,
    qtbase5-dev,
    pkg-config,
    libparted-dev,
    libqt5x11extras5-dev,
    libx11-dev,
    libxext-dev,
    libxrandr-dev,
    libxss-dev,
    libxtst-dev,
Standards-Version: 3.9.6
Homepage: http://www.deepin.org

Package: deepin-installer-reborn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
    aircrack-ng,
    tshark,
    udev,
    util-linux,
    x11-xserver-utils,
Description: Reborn version of deepin installer
 New version of deepin-installer, rewritten with Qt5.
