[Unit]
Description=live installer
Before=display-manager.service
Conflicts=getty@tty1.service plymouth-quit.service
After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service
ConditionKernelCommandLine=livecd-installer

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/deepin-installer-standalone

[Install]
WantedBy=multi-user.target
