#!/usr/bin/make -f

export QT_SELECT=qt5

%:
	dh $@  --parallel --with systemd

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr

override_dh_systemd_start:
	dh_systemd_start --no-start
