#!/usr/bin/make -f

export QT_SELECT=qt5

%:
	dh $@  --parallel --with systemd

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr

override_dh_systemd_start:
	dh_systemd_start --no-start

override_dh_fixperms:
	dh_fixperms
	find debian -name '*.job' -exec chmod 755 {} \;
	find debian -name '*.sh' -exec chmod 755 {} \;
	find debian -name 'genfstab' -exec chmod 755 {} \;

